.list{
    width: max-content;
    min-width: 500px;
    height:60px;
    background-color: crimson;
    color: white;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .para{
      padding: 20px;

  }
  .list button{
      background-color: crimson;
      outline: 0;
      border: 0;
      color: aliceblue;
      font-size: 15px;
      cursor: pointer;
  }
  .completedlist{
    width: 400px;
    height: 60px;
    background-color: rgb(95, 0, 19);
    color: white;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  